---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Soy especialista en Python. Mi stack de tecnologias estan basadas en la investigacion, aplicacion y desarrollo de modelos de IA. Asi tambien frameworks de Data Science para un asertivo uso de los datos, Cloud Services en el despliegue de aplicaciones y microservicios Backend como APIs y WebApps con Docker con uso de DBs SQL y NoSQL. Ademas, poseo conocimientos en Ciberseguridad ofensiva y OWASP Top 10. Actualmente expandiendo mi stack hacia el desarrollo Frontend con JavaScript, HTML5 y CSS3.
		</p>
	</div>
</section>
