---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un apasionado por la tecnología y la programación. Me encanta aprender cosas nuevas y estar a la vanguardia de los avances tecnologicos. Como hobby me encanta leer sobre historia argentina, ciencia y filosofia. Actuamente me encuentro estudiando en la Universidad Nacional de La Plata para carrera de Ingenieria en Computacion. Nunca paro de aprender con el fin de hacerle frente a nuevos desafios, siendo fiel a mi lema "Si se puede imaginar, se puede crear".
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
