---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Ign4c">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/python.svg"
				color="#2b8bff"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/sql.svg"
				color="#ffe22b"
				name="Databases"
			/>
			<TerminalIcon
				src="/assets/azure.svg"
				color="#00D1FF"
				name="Azure"
			/>
			<TerminalIcon 
				src="/assets/api.svg" 
				color="#7738ff" 
				name="APIs" />
			<TerminalIcon 
				src="/assets/docker.svg" 
				color="#00A3FF" 
				name="Docker" />
			<TerminalIcon
				src="/assets/pytorch.svg"
				color="#ff5733"
				name="Pytorch"
			/>
		</div>
	</div>
</Terminal>
